  # See http://www.appveyor.com/docs/appveyor-yml for many more options

build: false
version: 0.1.{build}

#images

image:
  - Ubuntu1804
  - Visual Studio 2017

# Set build info
environment:
  environment: development
  version: 0.1.$(appveyor_build_number)
  PGUSER: postgres
  PGPASSWORD: Password12!

for:
  - matrix:
      only:
        - image: Visual Studio 2017
    environment:
        mssql_instance: localhost\SQL2017
        scenario: windows
        TZ: GMT 
    services:
      - mssql2017
      - mysql
      - postgresql
    before_test:
      - SET PATH=C:\Program Files\PostgreSQL\9.6\bin\;%PATH%
      - psql -c "CREATE USER sa WITH SUPERUSER PASSWORD 'Password12!';" -U postgres
      - ps: .\tests\appveyor.prep.ps1

  - matrix:
      only:
        - image: Ubuntu1804
    environment:
        mssql_instance: localhost
        scenario: all
    services:
      - mssql
      - mysql
      - postgresql
    before_test:
      - sudo -u postgres psql -c "CREATE USER sa WITH SUPERUSER PASSWORD 'Password12!';"
      - ps: .\tests\appveyor.prep.ps1
      - docker run --name dbops-oracle -d -p 1521:1521 -e ORACLE_ALLOW_REMOTE=true wnameless/oracle-xe-11g-r2

test_script:
  - ps: .\tests\appveyor.pester.ps1
  # Collecting results
  - ps: .\tests\appveyor.pester.ps1 -Finalize
after_test:
  - ps: .\tests\appveyor.post.ps1


# Set alternative clone folder
#clone_folder: c:\github\dbops



#on_finish:
#  - ps:
