  # See http://www.appveyor.com/docs/appveyor-yml for many more options

build: false
version: 0.1.{build}
only_commits:
  files:
    - bin/
    - functions/
    - internal/
    - src/
    - tests/
    - appveyor.yml
    - dbops.ps*
    - build.cake

#images

image:
  - Visual Studio 2019

# Set build info
environment:
  environment: development
  version: 0.1.$(APPVEYOR_BUILD_NUMBER)
  PGUSER: postgres
  PGPASSWORD: Password12!
  AssentNonInteractive: true
  IGNORE_NORMALISATION_GIT_HEAD_MOVE: 1
  mssql_instance: localhost\SQL2017
  scenario: windows

services:
  - mssql2017
  - mysql
  - postgresql

before_build:
  - ps: .\build\build_prep.ps1
build_script:
  - ps: .\build\build.ps1 -Script .\build.cake
after_build:
  - ps: .\build\copy_build_files.ps1

before_test:
  - SET PATH=C:\Program Files\PostgreSQL\9.6\bin\;%PATH%
  - psql -c "CREATE USER sa WITH SUPERUSER PASSWORD 'Password12!';" -U postgres
  - ps: .\tests\pester.prep.ps1

test_script:
  - ps: .\tests\ci.pester.ps1 -Type SqlServer, Postgresql, MySQL -Tag UnitTests, IntegrationTests, ComplianceTests
  - ps: .\tests\install_dependencies.ps1 -Load -Type SqlServer, Postgresql, MySQL
  - ps: .\tests\ci.pester.ps1 -Type SqlServer, Postgresql, MySQL -Tag FunctionalTests
